﻿@model PVI_Portafolio.Models.ConsultaModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrivado.cshtml";
}

@*Estilo CSS*@
<style type="text/css">
    .bs-example {
        margin: 20px;
    }
</style>

<h5>&nbsp;</h5>

<h1>@ViewBag.Prueba</h1>

@* Formulario para Consulta Pública*@
@using (Html.BeginForm("Index", "Portafolio", FormMethod.Post))
{
    <div class="container">
        <div class="row center-block">
            <div class="col-xs-12 col-sm-8 col-md-5 col-sm-offset-2 col-md-offset-3 ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Consulta Pública</h3>
                    </div>

                    <div class="panel-body">
                        @Html.ValidationMessageFor(user => user.idProfesion, null, new { @class = "label label-danger" })
                        @Html.ValidationMessageFor(user => user.edad, null, new { @class = "label label-danger" })
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        @*@Html.DropDownListFor(user => user.profesion, ViewBag.ProfesionLista as SelectList, "Profesión...", new { @class = "form-control input-sm" })*@
                                        @Html.DropDownListFor(user => user.idProfesion, ViewBag.ProfesionLista as SelectList, "Profesión...", new { @class = "form-control input-sm" })
                                        @*@Html.DropDownListFor(user => user.idProfesion, ViewBag.ProfesionLista ?? new List<SelectListItem>(), "Profesión...", new { @class = "form-control input-sm" })*@
                                        @*@Html.DropDownListFor(user => user.idProfesion, ViewBag.ProfesionLista as IEnumerable<SelectListItem>, new { @class = "form-control" })*@
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(user => user.edad, new { placeholder = "Ingrese edad", @class = "form-control input-sm" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.TextBoxFor(user => user.nombre, new { placeholder = "Nombre o Apellidos", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(user => user.nombre, null, new { @class = "label label-warning" })
                            </div>
                            <input type="submit" id="Buscar" value="Buscar" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*Se genera Tabla de Consulta Pública*@
<div class="bs-example">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Email</th>
                <th>Profesión</th>
                <th>Fecha Nacimiento</th>
                @*Hacer un espacio en blanco*@
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Lista != null)
            {
                foreach (PVI_Portafolio.Models.ConsultaListaModel fila in ViewBag.Lista)
                {
                    <tr>
                        <td>@fila.nombreCompleto</td>
                        <td>@fila.email</td>
                        <td>@fila.nombreProfesion</td>
                        <td>@fila.fechaNacimiento</td>
                        <td>
                            <a class="btn btn-primary" href="~/Portafolio/VerConsulta/@fila.idUsuario">Ver Registro</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>No hay Registros</td>
                </tr>
            }
        </tbody>
    </table>
</div>

