﻿@model PVI_Portafolio.Models.UsuarioModel

@{
    ViewBag.Title = "MiPortafolio";
    Layout = "~/Views/Shared/_LayoutPrivado.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script type="text/javascript">
    function functionConfirm(event) {
        //swal({
        //    title: 'are you sur?',
        //    text: "You will not be able to recover this item",
        //    type: 'warning',
        //    showCancelButton: true,
        //    cancelButtonText: 'No',
        //    cancelButtonClass: 'btn btn-danger',
        //    showConfirmButton: true,
        //    confirmButtonText: 'Yes',
        //    confirmButtonClass: 'btn btn-success'
        //}, function (isConfirm) {
        //    if (isConfirm) {
        //        $("form").submit(); tampoco funciona con #btnEliminar
        //        return true;
        //    } else {
        //        return false;
        //    }
        //});
        //return false;


        //swal({
        //    title: 'Confirmation?',
        //    text: "You will not be able to recover this item",
        //    type: 'warning',
        //    confirmButtonClass: 'btn-danger',
        //    showCancelButton: true,
        //    cancelButtonText: 'Yes, Please delete it',
        //    showConfirmButton: true,
        //    confirmButtonText: 'Yes',
        //    closeOnConfirm: false
        //}, function (isConfirm) {
        //        if (isConfirm) {
        //        swal("Deleted!", "Data has been succesfully deleted", "success");
        //        return true;
        //    } else {
        //        return false;
        //    }           
        //});
    }
</script>

@using (Html.BeginForm("Save_MiPortafolio", "Portafolio", FormMethod.Post))
{
    @*Información Personal*@
    <div class="container" style="margin-top: 20px;">
        <div class="panel panel-primary">
            <div id="infoPersonal" class="panel-heading clickable">

                <h3 class="panel-title text-center"><span class="glyphicon glyphicon-user pull-left"></span>Información Personal</h3>
            </div>
            <div class="panel-body" style="margin-left: 12%;">
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            @Html.LabelFor(user => user.codigo)
                            @Html.TextBoxFor(user => user.codigo, new { @class = "form-control", @readonly = "readonly" })
                            @*@Html.ValidationMessageFor(user => user.codigo, null, new { @class = "label label-danger" })*@
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(user => user.email)
                            @Html.TextBoxFor(user => user.email, new { @class = "form-control", @readonly = "readonly" })
                            @*@Html.ValidationMessageFor(user => user.email, null, new { @class = "label label-danger" })*@
                        </div>

                        @*<div class="form-group">
                                @Html.LabelFor(user => user.clave)
                                @Html.TextBoxFor(user => user.clave, new { @class = "form-control" })
                                @Html.ValidationMessageFor(user => user.clave, null, new { @class = "label label-danger" })
                            </div>*@

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(user => user.nombreCompleto)
                            @Html.TextBoxFor(user => user.nombreCompleto, new { @class = "form-control" })
                            @Html.ValidationMessageFor(user => user.nombreCompleto, null, new { @class = "label label-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(user => user.fechaNacimiento)
                            @Html.EditorFor(user => user.fechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(user => user.fechaNacimiento, null, new { @class = "label label-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <input type="submit" id="btnGuardar" value="Guardar" class="btn btn-primary pull-right" />
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}

@*Estudios Realizados*@
<div class="container" style="margin-top: 20px;">

    <div class="panel panel-primary">
        <div id="estudios" class="panel-heading clickable">

            <h3 class="panel-title text-center"><span class="glyphicon glyphicon-education pull-left"></span>Estudios Realizados</h3>
        </div>
        <div class="panel-body" style="margin-left: 3%">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre del Centro Educativo</th>
                        <th>Titulo Obtenido</th>
                        <th>Año Finalización</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PVI_Portafolio.Models.EstudiosModel fila in ViewBag.EstudiosRealizados)
                    {
                        <tr>
                            <td>@fila.centroEducativo</td>
                            <td>@fila.tituloObtenido</td>
                            <td>@fila.anhoFinalizacion</td>
                            <td>
                                <a class="btn btn-warning" href="~/Crud/EditarEstudios/@fila.idEstudiosRealizados">Editar</a>
                                @*<a class="btn btn-danger" id="btnEliminar" href="~/Crud/EliminarEstudios/@fila.idEstudiosRealizados">Eliminar</a>*@
                                <a class="btn btn-danger" id="btnEliminar" onclick="return confirm('¿Está seguro de que quiere borrar este registro?');" href="~/Crud/EliminarEstudios/@fila.idEstudiosRealizados">Eliminar</a>
                                @*<a class="btn btn-danger" id="btnEliminar" onclick="return functionConfirm(this)" href="~/Crud/EliminarEstudios/@fila.idEstudiosRealizados">Eliminar</a>*@

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.ActionLink("Agregar", "AgregarEstudios", "Crud", null, new { @class = "btn btn-primary pull-right" })
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@*Experiencia Laboral*@
<div class="container" style="margin-top: 20px;">
    <div class="panel panel-primary">
        <div id="expLaboral" class="panel-heading clickable">

            <h3 class="panel-title text-center"><span class="glyphicon glyphicon-briefcase pull-left"></span>Experiencia Laboral</h3>
        </div>
        <div class="panel-body" style="margin-left: 3%">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Profesión</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>&nbsp;</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (PVI_Portafolio.Models.ExperienciaModel fila in ViewBag.ExperienciaLaboral)
                    {
                        <tr>
                            <td>@fila.nombreEmpresa</td>
                            <td>@fila.profesion</td>
                            <td>@fila.fechaDesde</td>
                            <td>@fila.fechaHasta</td>
                            <td>
                                <a class="btn btn-warning" href="~/Crud/EditarExpLaboral/@fila.idExpLaboral">Editar</a>
                                <a class="btn btn-danger" id="btnEliminar" onclick="return confirm('¿Está seguro de que quiere borrar este registro?');" href="~/Crud/EliminarExpLaboral/@fila.idExpLaboral">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class="panel-footer">
            @Html.ActionLink("Agregar", "AgregarExpLaboral", "Crud", null, new { @class = "btn btn-primary pull-right" })
            <div class="clearfix"></div>
        </div>

    </div>
</div>

@*Conocimientos Adquiridos*@
<div class="container" style="margin-top: 20px;">
    <div class="panel panel-primary">
        <div id="conocimientos" class="panel-heading clickable">
            <h3 class="panel-title text-center"><span class="glyphicon glyphicon-book pull-left"></span>Conocimientos Adquiridos</h3>
        </div>
        <div class="panel-body" style="margin-left: 3%">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Año</th>
                        <th>Descripción</th>
                        <th>Medio de Aprendizaje</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PVI_Portafolio.Models.ConocimientosModel fila in ViewBag.Conocimientos)
                    {
                        <tr>
                            <td>@fila.anhoConocimientoAdquirido</td>
                            <td>@fila.descripcion</td>
                            <td>@fila.tipoMedio</td>
                            <td>
                                <a class="btn btn-warning" href="~/Crud/EditarConocimientos/@fila.idConocimiento">Editar</a>
                                <a class="btn btn-danger" onclick="return confirm('¿Está seguro de que quiere borrar este registro?');" href="~/Crud/EliminarConocimientos/@fila.idConocimiento">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.ActionLink("Agregar", "AgregarConocimientos", "Crud", null, new { @class = "btn btn-primary pull-right" })
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@*Recomendaciones*@
<div class="container" style="margin-top: 20px;">
    <div class="panel panel-primary">
        <div id="recomendaciones" class="panel-heading clickable">
            <h3 class="panel-title text-center"><span class="glyphicon glyphicon-file pull-left"></span>Recomendaciones</h3>
        </div>
        <div class="panel-body" style="margin-left: 3%">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Compañía</th>
                        <th>Puesto</th>
                        <th>Teléfono</th>
                        <th>&nbsp;</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (PVI_Portafolio.Models.ReferenciasModel fila in ViewBag.Referencias)
                    {
                        <tr>
                            <td>@fila.nombreRecomendacion</td>
                            <td>@fila.lugarTrabajo</td>
                            <td>@fila.puesto</td>
                            <td>@fila.telefono</td>
                            <td>
                                <a class="btn btn-warning" href="~/Crud/EditarReferencias/@fila.idReferencia">Editar</a>
                                <a class="btn btn-danger" onclick="return confirm('¿Está seguro de que quiere borrar este registro?');" href="~/Crud/EliminarReferencia/@fila.idReferencia">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class="panel-footer">
            @Html.ActionLink("Agregar", "AgregarReferencias", "Crud", null, new { @class = "btn btn-primary pull-right" })
            <div class="clearfix"></div>
        </div>

    </div>
</div>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(document).ready(function () {
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '< Ant',
                nextText: 'Sig >',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);

            $(function () {
                $("#fechaNacimiento").datepicker({
                    dateFormat: "dd/mm/yy",
                    changeMonth: true,
                    changeYear: true,
                    maxDate: new Date(2021, 0, 1),
                });
            });
        });
    </script>

}