﻿@model PVI_Portafolio.Models.UsuarioModel

@{
    ViewBag.Title = "VerConsulta";
    Layout = "~/Views/Shared/_LayoutPrivadoConsulta.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<div class="container" style="margin-top: 20px;">
    @Html.ActionLink("Regresar", "Index", "Portafolio", null, new { @class = "btn btn-primary pull-right" })
    <div class="clearfix"></div>
</div>

@using (Html.BeginForm())
{
    @*Información Personal*@
    <div class="container" style="margin-top: 20px;">
        <div class="panel panel-primary">
            <div id="infoPersonal" class="panel-heading clickable">

                <h3 class="panel-title text-center"><span class="glyphicon glyphicon-user pull-left"></span>Información Personal</h3>
            </div>
            <div class="panel-body" style="margin-left: 12%;">
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            @Html.LabelFor(user => user.codigo)
                            @Html.TextBoxFor(user => user.codigo, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(user => user.codigo, null, new { @class = "label label-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(user => user.email)
                            @Html.TextBoxFor(user => user.email, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(user => user.email, null, new { @class = "label label-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(user => user.nombreCompleto)
                            @Html.TextBoxFor(user => user.nombreCompleto, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(user => user.nombreCompleto, null, new { @class = "label label-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(user => user.fechaNacimiento)
                            @Html.EditorFor(user => user.fechaNacimiento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(user => user.fechaNacimiento, null, new { @class = "label label-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*Estudios Realizados*@
<div class="container" style="margin-top: 20px;">

    <div class="panel panel-primary">
        <div id="estudios" class="panel-heading clickable">

            <h3 class="panel-title text-center"><span class="glyphicon glyphicon-education pull-left"></span>Estudios Realizados</h3>
        </div>
        <div class="panel-body" style="margin-left: 3%">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre del Centro Educativo</th>
                        <th>Titulo Obtenido</th>
                        <th>Año Finalización</th>
                        @*<th>&nbsp;</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (PVI_Portafolio.Models.EstudiosModel fila in ViewBag.EstudiosRealizados)
                    {
                        <tr>
                            <td>@fila.centroEducativo</td>
                            <td>@fila.tituloObtenido</td>
                            <td>@fila.anhoFinalizacion</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*Experiencia Laboral*@
<div class="container" style="margin-top: 20px;">
    <div class="panel panel-primary">
        <div id="expLaboral" class="panel-heading clickable">

            <h3 class="panel-title text-center"><span class="glyphicon glyphicon-briefcase pull-left"></span>Experiencia Laboral</h3>
        </div>
        <div class="panel-body" style="margin-left: 3%">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Profesión</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PVI_Portafolio.Models.ExperienciaModel fila in ViewBag.ExperienciaLaboral)
                    {
                        <tr>
                            <td>@fila.nombreEmpresa</td>
                            <td>@fila.profesion</td>
                            <td>@fila.fechaDesde</td>
                            <td>@fila.fechaHasta</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

@*Conocimientos Adquiridos*@
<div class="container" style="margin-top: 20px;">
    <div class="panel panel-primary">
        <div id="conocimientos" class="panel-heading clickable">
            <h3 class="panel-title text-center"><span class="glyphicon glyphicon-book pull-left"></span>Conocimientos Adquiridos</h3>
        </div>
        <div class="panel-body" style="margin-left: 3%">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Año</th>
                        <th>Descripción</th>
                        <th>Medio de Aprendizaje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PVI_Portafolio.Models.ConocimientosModel fila in ViewBag.Conocimientos)
                    {
                        <tr>
                            <td>@fila.anhoConocimientoAdquirido</td>
                            <td>@fila.descripcion</td>
                            <td>@fila.tipoMedio</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*Recomendaciones*@
<div class="container" style="margin-top: 20px;">
    <div class="panel panel-primary">
        <div id="recomendaciones" class="panel-heading clickable">
            <h3 class="panel-title text-center"><span class="glyphicon glyphicon-file pull-left"></span>Recomendaciones</h3>
        </div>
        <div class="panel-body" style="margin-left: 3%">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Compañía</th>
                        <th>Puesto</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PVI_Portafolio.Models.ReferenciasModel fila in ViewBag.Referencias)
                    {
                        <tr>
                            <td>@fila.nombreRecomendacion</td>
                            <td>@fila.lugarTrabajo</td>
                            <td>@fila.puesto</td>
                            <td>@fila.telefono</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

