﻿@model PVI_Portafolio.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script>
    $(document).ready(function () {
    if ('@ViewBag.Error' != "")
        swal({ 
            title: "Lo sentimos",
            text: "@ViewBag.Error",
            type: 'warning',
            showCancelButtonClass: "btn-primary",
            confirmButtonText : 'Continuar'
        });
    });
</script>

<h5>&nbsp;</h5>

@using (Html.BeginForm("Login", "Registro", FormMethod.Post))
{
    <div class="form-horizontal row center-block">

        <div class="col-xs-12 col-sm-8 col-md-5 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Acceso al Sistema</h4>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(user => user.email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(user => user.email, new { placeholder = "Ingrese su correo electrónico", @class = "form-control col-sm-8 input-sm" })
                    @Html.ValidationMessageFor(user => user.email, null, new { @class = "label label-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(user => user.clave, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(user => user.clave, new { htmlAttributes = new { @class = "form-control col-sm-8 input-sm" } })
                    @Html.ValidationMessageFor(user => user.clave, null, new { @class = "label label-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" id="Ingresar" value="Ingresar" class="btn btn-primary" />
                    @Html.ActionLink("Registrese aquí", "Registro", null, new { @class = "col-md-offset-6" })
                </div>
            </div>

        </div>
    </div>
}
