﻿@model PVI_Portafolio.Models.RegistroModel

@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<h5>&nbsp;</h5>

@using (Html.BeginForm("Registro", "Registro", FormMethod.Post))
{
    <div class="container">
        <div class="row center-block">
            <div class="col-xs-12 col-sm-8 col-md-5 col-sm-offset-2 col-md-offset-3 ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registro al Sistema</h3>
                    </div>

                    <div class="panel-body">

                        <form role="form">
                            <div class="form-group col-sm-offset-2">
                                @Html.LabelFor(user => user.nombreCompleto)
                                @Html.TextBoxFor(user => user.nombreCompleto, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(user => user.nombreCompleto, null, new { @class = "label label-danger" })
                            </div>

                            <div class="form-group col-sm-offset-2">
                                @Html.LabelFor(user => user.email)
                                @Html.TextBoxFor(user => user.email, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(user => user.email, null, new { @class = "label label-danger" })
                            </div>

                            <div class="form-group col-sm-offset-2">
                                @Html.LabelFor(user => user.clave)
                                @Html.EditorFor(user => user.clave, new { @htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(user => user.clave, null, new { @class = "label label-danger" })
                            </div>

                            <div class="form-group col-sm-offset-2">
                                @Html.LabelFor(user => user.confirmClave)
                                @Html.EditorFor(user => user.confirmClave, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(user => user.confirmClave, null, new { @class = "label label-danger" })
                            </div>

                            <div class="form-group col-sm-offset-2">
                                <input type="submit" id="btnRegistrar" value="Registrase" class="btn btn-primary" />
                                @Html.ActionLink("Regresar", "Login", "Privada", new { @class = "btn btn-default" })
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

