﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .dropdown-item {
            display: block;
            width: 100%;
            padding: .25rem 1.5rem;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }

        .dropdown-divider {
            height: 0;
            margin: .5rem 0;
            overflow: hidden;
            border-top: 1px solid #e9ecef;
        }

        a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-menu a:hover {
            background-color: #f1f1f1
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Portafolio Profesional</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Home/Index" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Consulta Pública de Portafolios Profesionales </a></li>

                <li class="nav-item dropdown">
                    <a class="navbar-link dropdown-toggle btn btn-default" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Bienvenido/a Usuario</a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("VerConsulta","Home")#infoPersonal"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Información Personal</a>
                        <a class="dropdown-item" href="@Url.Action("VerConsulta","Home")#estudios"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Estudios Realizados</a>
                        <a class="dropdown-item" href="@Url.Action("VerConsulta","Home")#expLaboral"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Experiencia Laboral</a>
                        <a class="dropdown-item" href="@Url.Action("VerConsulta","Home")#conocimientos"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Conocimientos Adquiridos</a>
                        <a class="dropdown-item" href="@Url.Action("VerConsulta","Home")#recomendaciones"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Recomendaciones</a>

                        @*<div class="dropdown-divider"></div>
                        <a id="btnLogout" href="@Url.Action("Logoff", "Registro")" class="dropdown-item"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Cerrar Sesión</a>*@
                    </div>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Desarrollado por: Roberto Cordero</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

