﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Portafolio Profesional</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Home/Index"><span class="glyphicon glyphicon-home"></span> Consulta Pública de Portafolios Profesionales </a></li>
                <li><a href="~/Registro/Login"><span class="glyphicon glyphicon-user"></span> Mi Portafolio</a></li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        <h5>&nbsp;</h5>

        <div class="alert alert-danger">
            <p>Error al realizar el registro, ya existe un usuario con el email brindado</p>
        </div>

        <div>
            <a class="btn btn-default" href="~/Registro/Login">Continuar</a>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Desarrollado por: Roberto Cordero</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>

