﻿@model PVI_Portafolio.Models.ExperienciaModel

@{
    ViewBag.Title = "AgregarExpLaboral";
    Layout = "~/Views/Shared/_LayoutPrivado.cshtml";
}

@using (Html.BeginForm("AgregarExpLaboral", "Crud", FormMethod.Post))
{
    <div>
        @Html.HiddenFor(user => user.idUsuario)
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Experiencia Laboral
                </div>
                <div class="panel-body">
                    <form name="myform">
                        <div class="form-group">
                            @Html.LabelFor(user => user.nombreEmpresa)
                            @Html.TextBoxFor(user => user.nombreEmpresa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(user => user.nombreEmpresa, null, new { @class = "label label-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(user => user.fechaDesde)
                            @Html.EditorFor(user => user.fechaDesde, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(user => user.fechaDesde, null, new { @class = "label label-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(user => user.fechaHasta)
                            @*@Html.TextBoxFor(user => user.fechaHasta, new { htmlAttributes = new { @class = "datepicker" } })*@
                            @Html.EditorFor(user => user.fechaHasta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(user => user.fechaHasta, null, new { @class = "label label-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(user => user.idProfesion)
                            @Html.DropDownListFor(user => user.idProfesion, ViewBag.ProfesionLista as SelectList, "Profesión...", new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(user => user.idProfesion, null, new { @class = "label label-danger" })
                        </div>

                        <div class="col-lg-12">
                            <input type="submit" id="Guardar" value="Guardar" class="btn btn-primary" />
                            @Html.ActionLink("Cancelar", "MiPortafolio", "Portafolio", null, new { @class = "btn btn-default" })
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(document).ready(function () {
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '< Ant',
                nextText: 'Sig >',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);

            $(function () {
                $("#fechaHasta").datepicker({
                    dateFormat: "dd/mm/yy",
                    changeMonth: true,
                    changeYear: true,
                    //yearRange : "-10:+10"
                    //minDate: new Date(1950, 0, 1),
                    maxDate: new Date(2021, 0, 1),
                    //showOn: "both",
                    //buttonText : "<i class='fa fa-calendar'></i>"
                });

                $("#fechaDesde").datepicker({
                    dateFormat: "dd/mm/yy",
                    changeMonth: true,
                    changeYear: true,
                    maxDate: new Date(2021, 0, 1),
                });
        });

        });
    </script>

}