﻿@model PVI_Portafolio.Models.ConocimientosModel

@{
    ViewBag.Title = "AgregarConocimientos";
    Layout = "~/Views/Shared/_LayoutPrivado.cshtml";
}

@using (Html.BeginForm("AgregarConocimientos", "Crud", FormMethod.Post))
{
    <div>
        @Html.HiddenFor(user => user.idUsuario)
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Conocimientos Adquiridos
                </div>
                <div class="panel-body">
                    <form name="myform">
                        <div class="form-group">
                            @Html.LabelFor(user => user.anhoConocimientoAdquirido)
                            @Html.TextBoxFor(user => user.anhoConocimientoAdquirido, new { @class = "form-control" })
                            @Html.ValidationMessageFor(user => user.anhoConocimientoAdquirido, null, new { @class = "label label-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(user => user.descripcion)
                            @Html.TextAreaFor(user => user.descripcion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(user => user.descripcion, null, new { @class = "label label-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(user => user.tipoMedio)
                            @Html.TextBoxFor(user => user.tipoMedio, new { @class = "form-control" })
                            @Html.ValidationMessageFor(user => user.tipoMedio, null, new { @class = "label label-danger" })
                        </div>

                        <div class="col-lg-12">
                            <input type="submit" id="Guardar" value="Guardar" class="btn btn-primary" />
                            @Html.ActionLink("Cancelar", "MiPortafolio", "Portafolio", null, new { @class = "btn btn-default" })
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
