﻿@model PVI_Portafolio.Models.ReferenciasModel

@{
    ViewBag.Title = "AgregarReferencias";
    Layout = "~/Views/Shared/_LayoutPrivado.cshtml";
}

@using (Html.BeginForm("AgregarReferencias", "Crud", FormMethod.Post))
{
    <div>
        @Html.HiddenFor(user => user.idUsuario)
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Recomendaciones
                </div>
                <div class="panel-body">
                    <form name="myform">
                        <div class="form-group">
                            @Html.LabelFor(user => user.nombreRecomendacion)
                            @Html.TextBoxFor(user => user.nombreRecomendacion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(user => user.nombreRecomendacion, null, new { @class = "label label-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(user => user.lugarTrabajo)
                            @Html.TextBoxFor(user => user.lugarTrabajo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(user => user.lugarTrabajo, null, new { @class = "label label-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(user => user.puesto)
                            @Html.TextBoxFor(user => user.puesto, new { @class = "form-control" })
                            @Html.ValidationMessageFor(user => user.puesto, null, new { @class = "label label-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(user => user.telefono)
                            @Html.TextBoxFor(user => user.telefono, new { @class = "form-control" })
                            @Html.ValidationMessageFor(user => user.telefono, null, new { @class = "label label-danger" })
                        </div>

                        <div class="col-lg-12">
                            <input type="submit" id="Guardar" value="Guardar" class="btn btn-primary" />
                            @Html.ActionLink("Cancelar", "MiPortafolio", "Portafolio", null, new { @class = "btn btn-default" })
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
