﻿
@{
    ViewBag.Title = "ExitoRegistro";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<h5>&nbsp;</h5>

<div class="alert alert-success">
    <p>@ViewBag.Mensaje</p>
</div>

<div>
    <a class="btn btn-default" href="~/Registro/Login">Continuar</a>
</div>
