﻿
@{
    ViewBag.Title = "ExitoCrud";
    Layout = "~/Views/Shared/_LayoutPrivado.cshtml";
}

<h5>&nbsp;</h5>

<div class="alert alert-success">
    <p>@ViewBag.Mensaje</p>
</div>

<div>
    @Html.ActionLink("Continuar", "MiPortafolio", "Portafolio", null, new { @class = "btn btn-default" })
</div>
